<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320764293456-ht57qbbfknei6t36krvekjoo8k5jqlii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320764293456-ht57qbbfknei6t36krvekjoo8k5jqlii</string>
	<key>API_KEY</key>
	<string>AIzaSyB3K5yI4y_lcbLemk4R49JPL42RPWYTvxg</string>
	<key>GCM_SENDER_ID</key>
	<string>320764293456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firefc.team</string>
	<key>PROJECT_ID</key>
	<string>soccer-team-app-7f6b4</string>
	<key>STORAGE_BUCKET</key>
	<string>soccer-team-app-7f6b4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:320764293456:ios:d15f497e9e0cb83c2f3c55</string>
</dict>
</plist>
